

body {
    background-image: url(backgroundimage.jpeg);
    background-size: 800px;

}




h2, p {
    color:aqua;
    text-align: center;
    border: 5px solid rgb(7, 7, 161);
    border-radius: 10px;
    cursor: pointer;
}

p {
    color:blueviolet;
}

header {background-color: pink;
}

li {list-style: none;
    display: inline-block;
}