 li {
    display:inline;
margin-left: 100px;
padding-left: 250px;
}

ul {
    background-color: black;
    display: block;
    padding: 14px 16px;
    margin-right: 0;
}

li a {
    color: white;
    padding-bottom: 50px;
    
}

.thor {
    width: 1500px;
    height: 700px;
}

h1 {
    font-size: 50;
    font-family:Arial;
}

p { 
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.container {
    position:relative
}

#Odinson {
    position:relative;
}